# Data cleaning and feature engineering

In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
# Read the dataframe
df = pd.read_csv('../datasets/raw/solar_60m_data_isl.csv')
df.head()

,PeriodEnd,PeriodStart,Period,AirTemp,CloudOpacity,Dhi,Dni,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m
0,2018-12-31T02:00:00Z,2018-12-31T01:00:00Z,PT60M,1.5,0.0,0,0,0,9.3,83.1,929.6,31,2.1
1,2018-12-31T03:00:00Z,2018-12-31T02:00:00Z,PT60M,1.6,8.1,21,16,23,9.1,80.9,929.9,31,2.2
2,2018-12-31T04:00:00Z,2018-12-31T03:00:00Z,PT60M,3.5,15.4,99,178,148,8.9,75.9,930.1,28,2.2
3,2018-12-31T05:00:00Z,2018-12-31T04:00:00Z,PT60M,7.1,0.0,112,599,333,8.9,68.8,930.2,23,2.0
4,2018-12-31T06:00:00Z,2018-12-31T05:00:00Z,PT60M,10.7,0.0,129,707,464,8.8,62.6,930.3,15,1.8

In [3]:
# View column names
df.columns

Index(['PeriodEnd', 'PeriodStart', 'Period', 'AirTemp', 'CloudOpacity', 'Dhi',
       'Dni', 'Ghi', 'PrecipitableWater', 'RelativeHumidity',
       'SurfacePressure', 'WindDirection10m', 'WindSpeed10m'],
      dtype='object')

In [4]:
# Select some features
df = df[['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi',
         'PrecipitableWater', 'RelativeHumidity', 'SurfacePressure',
         'WindDirection10m', 'WindSpeed10m']]

In [5]:
# Display random 10 rows
df.sample(10)

,PeriodEnd,PeriodStart,AirTemp,Dhi,Dni,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m
6427,2019-09-24T21:00:00Z,2019-09-24T20:00:00Z,25.2,0,0,0,34.2,62.7,935.8,105,3.2
19962,2021-04-10T20:00:00Z,2021-04-10T19:00:00Z,19.5,0,0,0,16.1,35.4,937.5,22,2.3
4936,2019-07-24T18:00:00Z,2019-07-24T17:00:00Z,32.1,0,0,0,50.9,51.0,922.7,83,3.4
1468,2019-03-02T06:00:00Z,2019-03-02T05:00:00Z,8.1,17,0,17,20.6,95.3,919.5,74,2.9
6826,2019-10-11T12:00:00Z,2019-10-11T11:00:00Z,27.6,77,334,160,17.8,31.2,935.0,296,2.4
7900,2019-11-25T06:00:00Z,2019-11-25T05:00:00Z,18.4,129,720,511,14.3,45.6,941.5,281,0.6
635,2019-01-26T13:00:00Z,2019-01-26T12:00:00Z,10.0,8,30,10,7.8,56.5,929.0,323,1.5
4725,2019-07-15T23:00:00Z,2019-07-15T22:00:00Z,25.4,0,0,0,50.7,75.7,923.2,100,1.5
19158,2021-03-08T08:00:00Z,2021-03-08T07:00:00Z,25.3,36,0,36,16.6,25.8,938.8,246,2.2
25404,2021-11-23T14:00:00Z,2021-11-23T13:00:00Z,16.0,0,0,0,7.1,21.2,935.6,47,1.0

In [6]:
# Rename columns
old_names= ['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi','PrecipitableWater', 'RelativeHumidity',
             'SurfacePressure', 'WindDirection10m', 'WindSpeed10m']  
new_names= ['PeriodEnd','PeriodStart','Temperature', 'Radiation', 'DNI', 'GHI', 'Precipitation', 'Humidity', 
             'Pressure', 'WindDirection', 'WindSpeed']
df.rename(columns=dict(zip(old_names, new_names)), inplace=True)

In [7]:
# View dataframe
df.head()

,PeriodEnd,PeriodStart,Temperature,Radiation,DNI,GHI,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2018-12-31T02:00:00Z,2018-12-31T01:00:00Z,1.5,0,0,0,9.3,83.1,929.6,31,2.1
1,2018-12-31T03:00:00Z,2018-12-31T02:00:00Z,1.6,21,16,23,9.1,80.9,929.9,31,2.2
2,2018-12-31T04:00:00Z,2018-12-31T03:00:00Z,3.5,99,178,148,8.9,75.9,930.1,28,2.2
3,2018-12-31T05:00:00Z,2018-12-31T04:00:00Z,7.1,112,599,333,8.9,68.8,930.2,23,2.0
4,2018-12-31T06:00:00Z,2018-12-31T05:00:00Z,10.7,129,707,464,8.8,62.6,930.3,15,1.8

In [8]:
# View summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26157 entries, 0 to 26156
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26157 non-null  object
 1   PeriodStart    26157 non-null  object
 2   Temperature    26157 non-null  float64
 3   Radiation      26157 non-null  int64
 4   DNI            26157 non-null  int64
 5   GHI            26157 non-null  int64
 6   Precipitation  26157 non-null  float64
 7   Humidity       26157 non-null  float64
 8   Pressure       26157 non-null  float64
 9   WindDirection  26157 non-null  int64
 10  WindSpeed      26157 non-null  float64
dtypes: float64(5), int64(4), object(2)
memory usage: 2.2+ MB

In [9]:
 # Interpret columns as appropriate data types to ensure compatibility
df['Radiation'] = df['Radiation'].astype(float)
df['Temperature'] = df['Temperature'].astype(float) # can be int
df['Pressure'] = df['Pressure'].astype(float)
df['Humidity'] = df['Humidity'].astype(int) # can be int
df['WindDirection'] = df['WindDirection'].astype(float)
df['WindSpeed'] = df['WindSpeed'].astype(float)
df['PeriodStart'] = pd.to_datetime(df['PeriodStart']).dt.to_period('T').dt.to_timestamp() # datetime dtype
df['PeriodEnd'] = pd.to_datetime(df['PeriodEnd']).dt.to_period('T').dt.to_timestamp() # datetime dtype

d:\repo\solar_energy_islamabad\venv\lib\site-packages\pandas\core\arrays\datetimes.py:1143: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

In [10]:
# View dataframe
df.head(6)

,PeriodEnd,PeriodStart,Temperature,Radiation,DNI,GHI,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2018-12-31 02:00:00,2018-12-31 01:00:00,1.5,0.0,0,0,9.3,83,929.6,31.0,2.1
1,2018-12-31 03:00:00,2018-12-31 02:00:00,1.6,21.0,16,23,9.1,80,929.9,31.0,2.2
2,2018-12-31 04:00:00,2018-12-31 03:00:00,3.5,99.0,178,148,8.9,75,930.1,28.0,2.2
3,2018-12-31 05:00:00,2018-12-31 04:00:00,7.1,112.0,599,333,8.9,68,930.2,23.0,2.0
4,2018-12-31 06:00:00,2018-12-31 05:00:00,10.7,129.0,707,464,8.8,62,930.3,15.0,1.8
5,2018-12-31 07:00:00,2018-12-31 06:00:00,13.1,126.0,784,544,8.9,57,929.9,2.0,1.6

In [11]:
# Display dataframe summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26157 entries, 0 to 26156
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26157 non-null  datetime64[ns]
 1   PeriodStart    26157 non-null  datetime64[ns]
 2   Temperature    26157 non-null  float64
 3   Radiation      26157 non-null  float64
 4   DNI            26157 non-null  int64
 5   GHI            26157 non-null  int64
 6   Precipitation  26157 non-null  float64
 7   Humidity       26157 non-null  int32
 8   Pressure       26157 non-null  float64
 9   WindDirection  26157 non-null  float64
 10  WindSpeed      26157 non-null  float64
dtypes: datetime64[ns](2), float64(6), int32(1), int64(2)
memory usage: 2.1 MB

In [12]:
# Create new features (year, month, hour) from start and end of data collection
df['YearPS'] = pd.to_datetime(df['PeriodStart']).dt.year
df['YearPE'] = pd.to_datetime(df['PeriodEnd']).dt.year

df['MonthPS'] = pd.to_datetime(df['PeriodStart']).dt.month
df['MonthPE'] = pd.to_datetime(df['PeriodEnd']).dt.month

df['HourPS'] = pd.to_datetime(df['PeriodStart']).dt.hour
df['HourPE'] = pd.to_datetime(df['PeriodEnd']).dt.hour

In [13]:
# View dataframe
df.head()

,PeriodEnd,PeriodStart,Temperature,Radiation,DNI,GHI,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE
0,2018-12-31 02:00:00,2018-12-31 01:00:00,1.5,0.0,0,0,9.3,83,929.6,31.0,2.1,2018,2018,12,12,1,2
1,2018-12-31 03:00:00,2018-12-31 02:00:00,1.6,21.0,16,23,9.1,80,929.9,31.0,2.2,2018,2018,12,12,2,3
2,2018-12-31 04:00:00,2018-12-31 03:00:00,3.5,99.0,178,148,8.9,75,930.1,28.0,2.2,2018,2018,12,12,3,4
3,2018-12-31 05:00:00,2018-12-31 04:00:00,7.1,112.0,599,333,8.9,68,930.2,23.0,2.0,2018,2018,12,12,4,5
4,2018-12-31 06:00:00,2018-12-31 05:00:00,10.7,129.0,707,464,8.8,62,930.3,15.0,1.8,2018,2018,12,12,5,6

In [14]:
# Create a function to make new feature; fill time for sunrise
def time_to_sunrise(row):
    """
    A function for identifying time of sunrise.
    """
    value= 0
    if row['HourPS'] == 4 and row['HourPE'] == 5 and row['Radiation'] > 0:
        value= '05:00:00'
    elif row['HourPS'] == 5 and row['HourPE'] == 6 and row['Radiation'] > 0:
        value= '06:00:00'
    return value

In [15]:
# Create a new column using the function above
df['Sunrise'] = df.apply(time_to_sunrise, axis=1)

In [16]:
df.Sunrise.unique()

array([0, '05:00:00', '06:00:00'], dtype=object)

In [17]:
# Create a function to make new feature; fill time for sunset
def time_to_sunset(row):
    """
    A function for identifying time of sunset.
    """
    value= 0
    if row['HourPS'] == 17 and row['HourPE'] == 18 and row['Radiation'] == 0:
        value= '18:00:00'
    elif row['HourPS'] == 18 and row['HourPE'] == 19 and row['Radiation'] == 0:
        value= '19:00:00'
    return value

In [18]:
# Create a new column using the function above
df['Sunset'] = df.apply(time_to_sunset, axis=1)

In [19]:
df.Sunset.unique()

array([0, '18:00:00', '19:00:00'], dtype=object)

In [20]:
# View dataframe summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26157 entries, 0 to 26156
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26157 non-null  datetime64[ns]
 1   PeriodStart    26157 non-null  datetime64[ns]
 2   Temperature    26157 non-null  float64
 3   Radiation      26157 non-null  float64
 4   DNI            26157 non-null  int64
 5   GHI            26157 non-null  int64
 6   Precipitation  26157 non-null  float64
 7   Humidity       26157 non-null  int32
 8   Pressure       26157 non-null  float64
 9   WindDirection  26157 non-null  float64
 10  WindSpeed      26157 non-null  float64
 11  YearPS         26157 non-null  int64
 12  YearPE         26157 non-null  int64
 13  MonthPS        26157 non-null  int64
 14  MonthPE        26157 non-null  int64
 15  HourPS         26157 non-null  int64
 16  HourPE         26157 non-null  int64
 17  Sunrise        26157 non-null  object
 18  Sunset         26157 non-null  object
dtypes: datetime64[ns](2), float64(6), int32(1), int64(8), object(2)
memory usage: 3.7+ MB

In [21]:
# Create new dataframe and assign rows where (Radiation, DHI, DNI) are not 0
# This will avoid duplicate rows
new_df = df.loc[~((df['Radiation']==0) & (df['DNI']==0) & (df['GHI']==0)), :]
new_df.sample(5) # display five random rows

,PeriodEnd,PeriodStart,Temperature,Radiation,DNI,GHI,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset
6459,2019-09-26 05:00:00,2019-09-26 04:00:00,28.5,354.0,0,354,36.8,58,939.8,150.0,2.7,2019,2019,9,9,4,5,05:00:00,0
1184,2019-02-18 10:00:00,2019-02-18 09:00:00,8.4,73.0,0,73,14.5,87,912.9,84.0,2.1,2019,2019,2,2,9,10,0,0
8620,2019-12-25 06:00:00,2019-12-25 05:00:00,13.3,98.0,832,493,4.9,24,941.6,305.0,2.0,2019,2019,12,12,5,6,06:00:00,0
15682,2020-10-14 12:00:00,2020-10-14 11:00:00,28.1,61.0,433,160,10.8,19,933.1,296.0,3.9,2020,2020,10,10,11,12,0,0
3821,2019-06-08 07:00:00,2019-06-08 06:00:00,36.2,217.0,737,931,27.0,18,930.7,265.0,1.6,2019,2019,6,6,6,7,0,0

In [22]:
# Dataframe information
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13864 entries, 1 to 26146
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      13864 non-null  datetime64[ns]
 1   PeriodStart    13864 non-null  datetime64[ns]
 2   Temperature    13864 non-null  float64
 3   Radiation      13864 non-null  float64
 4   DNI            13864 non-null  int64
 5   GHI            13864 non-null  int64
 6   Precipitation  13864 non-null  float64
 7   Humidity       13864 non-null  int32
 8   Pressure       13864 non-null  float64
 9   WindDirection  13864 non-null  float64
 10  WindSpeed      13864 non-null  float64
 11  YearPS         13864 non-null  int64
 12  YearPE         13864 non-null  int64
 13  MonthPS        13864 non-null  int64
 14  MonthPE        13864 non-null  int64
 15  HourPS         13864 non-null  int64
 16  HourPE         13864 non-null  int64
 17  Sunrise        13864 non-null  object
 18  Sunset         13864 non-null  object
dtypes: datetime64[ns](2), float64(6), int32(1), int64(8), object(2)
memory usage: 2.1+ MB

In [23]:
# Create new datetime column 'Date' from 'PeriodEnd'
new_df['Date'] = new_df['PeriodEnd'].dt.normalize()
new_df.head()

C:\Users\awon\AppData\Local\Temp/ipykernel_3356/344567962.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Date'] = new_df['PeriodEnd'].dt.normalize()

,PeriodEnd,PeriodStart,Temperature,Radiation,DNI,GHI,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset,Date
1,2018-12-31 03:00:00,2018-12-31 02:00:00,1.6,21.0,16,23,9.1,80,929.9,31.0,2.2,2018,2018,12,12,2,3,0,0,2018-12-31
2,2018-12-31 04:00:00,2018-12-31 03:00:00,3.5,99.0,178,148,8.9,75,930.1,28.0,2.2,2018,2018,12,12,3,4,0,0,2018-12-31
3,2018-12-31 05:00:00,2018-12-31 04:00:00,7.1,112.0,599,333,8.9,68,930.2,23.0,2.0,2018,2018,12,12,4,5,05:00:00,0,2018-12-31
4,2018-12-31 06:00:00,2018-12-31 05:00:00,10.7,129.0,707,464,8.8,62,930.3,15.0,1.8,2018,2018,12,12,5,6,06:00:00,0,2018-12-31
5,2018-12-31 07:00:00,2018-12-31 06:00:00,13.1,126.0,784,544,8.9,57,929.9,2.0,1.6,2018,2018,12,12,6,7,0,0,2018-12-31

In [24]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13864 entries, 1 to 26146
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      13864 non-null  datetime64[ns]
 1   PeriodStart    13864 non-null  datetime64[ns]
 2   Temperature    13864 non-null  float64
 3   Radiation      13864 non-null  float64
 4   DNI            13864 non-null  int64
 5   GHI            13864 non-null  int64
 6   Precipitation  13864 non-null  float64
 7   Humidity       13864 non-null  int32
 8   Pressure       13864 non-null  float64
 9   WindDirection  13864 non-null  float64
 10  WindSpeed      13864 non-null  float64
 11  YearPS         13864 non-null  int64
 12  YearPE         13864 non-null  int64
 13  MonthPS        13864 non-null  int64
 14  MonthPE        13864 non-null  int64
 15  HourPS         13864 non-null  int64
 16  HourPE         13864 non-null  int64
 17  Sunrise        13864 non-null  object
 18  Sunset         13864 non-null  object
 19  Date           13864 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(6), int32(1), int64(8), object(2)
memory usage: 2.2+ MB

In [25]:
# Extract values from column 'Date'
dt_series = new_df['Date'].values

# Create datetime index passing the 'dt_series'
dt_index = pd.DatetimeIndex(dt_series)

# Set 'dt_index' as index of new the dataframe
new_df2 = new_df.set_index(dt_index)

In [26]:
# Display new_df2
new_df2.head()

,PeriodEnd,PeriodStart,Temperature,Radiation,DNI,GHI,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset,Date
2018-12-31,2018-12-31 03:00:00,2018-12-31 02:00:00,1.6,21.0,16,23,9.1,80,929.9,31.0,2.2,2018,2018,12,12,2,3,0,0,2018-12-31
2018-12-31,2018-12-31 04:00:00,2018-12-31 03:00:00,3.5,99.0,178,148,8.9,75,930.1,28.0,2.2,2018,2018,12,12,3,4,0,0,2018-12-31
2018-12-31,2018-12-31 05:00:00,2018-12-31 04:00:00,7.1,112.0,599,333,8.9,68,930.2,23.0,2.0,2018,2018,12,12,4,5,05:00:00,0,2018-12-31
2018-12-31,2018-12-31 06:00:00,2018-12-31 05:00:00,10.7,129.0,707,464,8.8,62,930.3,15.0,1.8,2018,2018,12,12,5,6,06:00:00,0,2018-12-31
2018-12-31,2018-12-31 07:00:00,2018-12-31 06:00:00,13.1,126.0,784,544,8.9,57,929.9,2.0,1.6,2018,2018,12,12,6,7,0,0,2018-12-31

In [27]:
# Display info of new_df2
new_df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13864 entries, 2018-12-31 to 2021-12-24
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      13864 non-null  datetime64[ns]
 1   PeriodStart    13864 non-null  datetime64[ns]
 2   Temperature    13864 non-null  float64
 3   Radiation      13864 non-null  float64
 4   DNI            13864 non-null  int64
 5   GHI            13864 non-null  int64
 6   Precipitation  13864 non-null  float64
 7   Humidity       13864 non-null  int32
 8   Pressure       13864 non-null  float64
 9   WindDirection  13864 non-null  float64
 10  WindSpeed      13864 non-null  float64
 11  YearPS         13864 non-null  int64
 12  YearPE         13864 non-null  int64
 13  MonthPS        13864 non-null  int64
 14  MonthPE        13864 non-null  int64
 15  HourPS         13864 non-null  int64
 16  HourPE         13864 non-null  int64
 17  Sunrise        13864 non-null  object
 18  Sunset         13864 non-null  object
 19  Date           13864 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(6), int32(1), int64(8), object(2)
memory usage: 2.2+ MB

In [28]:
# Sample daily average for the solar and weather features
new_df2['Daily_radiation'] = new_df2.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Radiation'].mean()
new_df2['Daily_DNI'] = new_df2.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DNI'].mean()
new_df2['Daily_GHI'] = new_df2.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['GHI'].mean()
new_df2['Daily_Temp'] = new_df2.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Temperature'].mean()
new_df2['Daily_Precip'] = new_df2.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Precipitation'].mean()
new_df2['Daily_Humidity'] = new_df2.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Humidity'].mean()
new_df2['Daily_Pressure'] = new_df2.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Pressure'].mean()
new_df2['Daily_WindDir'] = new_df2.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindDirection'].mean()
new_df2['Daily_WindSpeed'] = new_df2.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindSpeed'].mean()

In [29]:
# Display dataframe
new_df2.head()

,PeriodEnd,PeriodStart,Temperature,Radiation,DNI,GHI,Precipitation,Humidity,Pressure,WindDirection,...,Date,Daily_radiation,Daily_DNI,Daily_GHI,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2018-12-31,2018-12-31 03:00:00,2018-12-31 02:00:00,1.6,21.0,16,23,9.1,80,929.9,31.0,...,2018-12-31,96.2,522.2,324.6,10.98,9.07,59.2,929.06,167.3,1.86
2018-12-31,2018-12-31 04:00:00,2018-12-31 03:00:00,3.5,99.0,178,148,8.9,75,930.1,28.0,...,2018-12-31,96.2,522.2,324.6,10.98,9.07,59.2,929.06,167.3,1.86
2018-12-31,2018-12-31 05:00:00,2018-12-31 04:00:00,7.1,112.0,599,333,8.9,68,930.2,23.0,...,2018-12-31,96.2,522.2,324.6,10.98,9.07,59.2,929.06,167.3,1.86
2018-12-31,2018-12-31 06:00:00,2018-12-31 05:00:00,10.7,129.0,707,464,8.8,62,930.3,15.0,...,2018-12-31,96.2,522.2,324.6,10.98,9.07,59.2,929.06,167.3,1.86
2018-12-31,2018-12-31 07:00:00,2018-12-31 06:00:00,13.1,126.0,784,544,8.9,57,929.9,2.0,...,2018-12-31,96.2,522.2,324.6,10.98,9.07,59.2,929.06,167.3,1.86

In [30]:
# Display info
new_df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13864 entries, 2018-12-31 to 2021-12-24
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PeriodEnd        13864 non-null  datetime64[ns]
 1   PeriodStart      13864 non-null  datetime64[ns]
 2   Temperature      13864 non-null  float64
 3   Radiation        13864 non-null  float64
 4   DNI              13864 non-null  int64
 5   GHI              13864 non-null  int64
 6   Precipitation    13864 non-null  float64
 7   Humidity         13864 non-null  int32
 8   Pressure         13864 non-null  float64
 9   WindDirection    13864 non-null  float64
 10  WindSpeed        13864 non-null  float64
 11  YearPS           13864 non-null  int64
 12  YearPE           13864 non-null  int64
 13  MonthPS          13864 non-null  int64
 14  MonthPE          13864 non-null  int64
 15  HourPS           13864 non-null  int64
 16  HourPE           13864 non-null  int64
 17  Sunrise          13864 non-null  object
 18  Sunset           13864 non-null  object
 19  Date             13864 non-null  datetime64[ns]
 20  Daily_radiation  13864 non-null  float64
 21  Daily_DNI        13864 non-null  float64
 22  Daily_GHI        13864 non-null  float64
 23  Daily_Temp       13864 non-null  float64
 24  Daily_Precip     13864 non-null  float64
 25  Daily_Humidity   13864 non-null  float64
 26  Daily_Pressure   13864 non-null  float64
 27  Daily_WindDir    13864 non-null  float64
 28  Daily_WindSpeed  13864 non-null  float64
dtypes: datetime64[ns](3), float64(15), int32(1), int64(8), object(2)
memory usage: 3.1+ MB

In [31]:
# Drop irrelevant features
new_df3 = new_df2.drop(['PeriodStart', 'YearPS', 'HourPS', 'HourPE',
                        'Sunrise', 'Sunset', 'MonthPS', 'YearPE'], axis=1)

new_df3.head()

,PeriodEnd,Temperature,Radiation,DNI,GHI,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,...,Date,Daily_radiation,Daily_DNI,Daily_GHI,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2018-12-31,2018-12-31 03:00:00,1.6,21.0,16,23,9.1,80,929.9,31.0,2.2,...,2018-12-31,96.2,522.2,324.6,10.98,9.07,59.2,929.06,167.3,1.86
2018-12-31,2018-12-31 04:00:00,3.5,99.0,178,148,8.9,75,930.1,28.0,2.2,...,2018-12-31,96.2,522.2,324.6,10.98,9.07,59.2,929.06,167.3,1.86
2018-12-31,2018-12-31 05:00:00,7.1,112.0,599,333,8.9,68,930.2,23.0,2.0,...,2018-12-31,96.2,522.2,324.6,10.98,9.07,59.2,929.06,167.3,1.86
2018-12-31,2018-12-31 06:00:00,10.7,129.0,707,464,8.8,62,930.3,15.0,1.8,...,2018-12-31,96.2,522.2,324.6,10.98,9.07,59.2,929.06,167.3,1.86
2018-12-31,2018-12-31 07:00:00,13.1,126.0,784,544,8.9,57,929.9,2.0,1.6,...,2018-12-31,96.2,522.2,324.6,10.98,9.07,59.2,929.06,167.3,1.86

In [32]:
# Check number of rows and columns of new_df3
new_df3.shape

(13864, 21)

In [33]:
# Drop all duplicate values of column 'Date' in 'new_df3' and only keep the last duplicated value
new_df3 = new_df3[~new_df3.Date.duplicated(keep='last')]

In [34]:
# Check number of rows and columns of 'new_df3' after dropping duplicates
new_df3.shape

(1090, 21)

In [35]:
# List our the column names
new_df3.columns

Index(['PeriodEnd', 'Temperature', 'Radiation', 'DNI', 'GHI', 'Precipitation',
       'Humidity', 'Pressure', 'WindDirection', 'WindSpeed', 'MonthPE', 'Date',
       'Daily_radiation', 'Daily_DNI', 'Daily_GHI', 'Daily_Temp',
       'Daily_Precip', 'Daily_Humidity', 'Daily_Pressure', 'Daily_WindDir',
       'Daily_WindSpeed'],
      dtype='object')

In [36]:
# Select useful column features
final_df = new_df3[['MonthPE', 'Date','Daily_Temp','Daily_Precip', 'Daily_Humidity', 'Daily_Pressure',
                  'Daily_WindDir','Daily_WindSpeed','Daily_DNI', 'Daily_GHI','Daily_radiation']]

# Display first five rows
final_df.head()

,MonthPE,Date,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed,Daily_DNI,Daily_GHI,Daily_radiation
2018-12-31,12,2018-12-31,10.980000,9.070000,59.2,929.060000,167.300000,1.860000,522.2,324.600000,96.200000
2019-01-01,1,2019-01-01,10.570000,14.420000,62.5,925.930000,84.800000,1.520000,1.1,96.300000,96.200000
2019-01-02,1,2019-01-02,8.410000,14.450000,91.4,927.230000,109.400000,1.640000,275.8,259.500000,146.100000
2019-01-03,1,2019-01-03,9.318182,7.427273,70.0,928.790909,167.363636,1.736364,471.0,294.363636,88.272727
2019-01-04,1,2019-01-04,7.530000,13.650000,69.0,926.660000,31.700000,2.610000,9.1,96.700000,92.300000

In [37]:
# View number of rows and columns of final_df
final_df.shape

(1090, 11)

In [38]:
# Save cleaned dataset
final_df.to_csv('../datasets/prepared/cleaned_solar_irradiation.csv')
print('csv file saved!!')

csv file saved!!